[[links]]
source = "hosts/common/config/ghostty"
target = "~/.config/ghostty"

[[links]]
source = "hosts/common/config/helix"
target = "~/.config/helix"

[[links]]
source = "hosts/common/config/starship.toml"
target = "~/.config/starship.toml"

[[links]]
source = "hosts/common/vimrc"
target = "~/.vimrc"

[[links]]
source = "hosts/common/config/atuin"
target = "~/.config/atuin"

[[links]]
source = "hosts/common/config/lazydocker"
target = "~/.config/lazydocker"

[[links]]
source = "hosts/common/config/lazygit"
target = "~/.config/lazygit"

[[links]]
source = "hosts/common/config/cheat"
target = "~/.config/cheat"

#
# Shared between main computers
#

[[links]]
source = "hosts/common/config/git"
target = "~/.config/git"
if = { hostname = ["obook.local", "oarch"] }

[[links]]
source = "hosts/common/config/nvim"
target = "~/.config/nvim"
if = { hostname = ["obook.local", "oarch", "obuntu"] }

#
# Mac
#

[[links]]
source = "hosts/obook/config/fish"
target = "~/.config/fish"
if = { hostname = "obook.local" }

[[links]]
source = "hosts/common/config/zed"
target = "~/.config/zed"
if = { hostname = "obook.local" }

[[links]]
source = "hosts/common/config/jj"
target = "~/.config/jj"
if = { hostname = "obook.local" }

#
# Arch
#

[[links]]
source = "hosts/oarch/config/fish"
target = "~/.config/fish"
if = { hostname = "oarch" }

[[links]]
source = "hosts/oarch/config/bspwm"
target = "~/.config/bspwm"
if = { hostname = "oarch" }

[[links]]
source = "hosts/oarch/config/sxhkd"
target = "~/.config/sxhkd"
if = { hostname = "oarch" }

[[links]]
source = "hosts/oarch/config/dunst"
target = "~/.config/dunst"
if = { hostname = "oarch" }

[[links]]
source = "hosts/oarch/config/picom"
target = "~/.config/picom"
if = { hostname = "oarch" }

[[links]]
source = "hosts/oarch/config/rofi"
target = "~/.config/rofi"
if = { hostname = "oarch" }

[[links]]
source = "hosts/oarch/config/polybar"
target = "~/.config/polybar"
if = { hostname = "oarch" }

[[links]]
source = "hosts/oarch/config/betterlockscreenrc"
target = "~/.config/betterlockscreenrc"
if = { hostname = "oarch" }

[[links]]
source = "hosts/oarch/config/user-dirs.dirs"
target = "~/.config/user-dirs.dirs"
if = { hostname = "oarch" }

[[links]]
source = "hosts/oarch/config/user-dirs.locale"
target = "~/.config/user-dirs.locale"
if = { hostname = "oarch" }

[[links]]
source = "hosts/oarch/config/hypr"
target = "~/.config/hypr"
if = { hostname = "oarch" }

#
# obuntu
#

[[links]]
source = "hosts/obuntu/config/fish"
target = "~/.config/fish"
if = { file_exists = ["~/.obuntu"] }

# ------------
# OLD
# ------------

# [[actions]]
# type = "shell-command"
# name = "Install tpm for tmux"
# run = "git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm"
# if-not = { run = "test -d ~/.tmux/plugins/tpm" }
